*{
  box-sizing: border-box;
  margin: 0;
}

.container{
  padding-left: 150px;
  padding-right: 150px;
}

@media screen and (max-width:600px) {
 .container{
  padding-left: 18px;
  padding-right: 18px;
 }
}